<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <a href="/" class="site-nav__logo">{{ metadata.title }}</a>
      <ul class="site-nav__list">
        {% for item in navigation.items %}
          <li class="site-nav__item">
            <a href="{{ item.url }}" class="site-nav__link">{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
      <button class="dark-mode-toggle" id="darkModeToggle">🌓</button>
    </nav>
  </div>
</header>